/* You can add global styles to this file, and also import other style files */

// !CAMBIADO, ANTES 1REM
$gutter: 0.3rem; //for primeflex grid system

@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

@import " assets/layout/styles/theme/bootstrap4-light-blue/theme.css";

//! /* Estilos editados para opensipca*/
.card--operation {
    padding: 1rem;
    border-radius: 0;
}

.field--operation {
    margin-bottom: 0;
}

.flex-align-end {
    align-self: end;
    padding-bottom: 0.3rem;
}

// !AÑADIDO
.subMenu{
    // width: 220px;
    width: 250px;
    position: fixed;
    color: white;
    background-color: var( --surface-50);
    // background-color: black;
    margin-top: 60px;
    height: calc( 100% - 60px);
    z-index: 998;
    right: 0;

    overflow-y: auto;
    box-shadow: -3px 0px 3px rgba(0,0,0,.05);
    
    // 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08)
}
