<p-toolbar>
  <div class="p-fluid">
    <div class="p-field p-grid">
      <div class="p-col-3">
        <label for="D_NOMBRE_CIA_ABREV" class="p-col-fixed p-d-flex p-jc-end"
          >Sociedad:</label
        >
      </div>
      <div class="p-col-3">
        <input
          id="D_NOMBRE_CIA_ABREV"
          type="text"
          pInputText
          [(ngModel)]="results.parametro.D_NOMBRE_CIA_ABREV"
          [disabled]="true"
        />
      </div>
      <div class="p-col-3">
        <label class="p-col-fixed p-d-flex p-jc-end">Centro:</label>
      </div>
      <div class="p-col-3">
        <input
          id="C_GRP_ALM"
          type="text"
          pInputText
          style="width: 30%; margin: 0px 0px 0px 0px"
          [(ngModel)]="results.parametro.C_GRP_ALM"
          [disabled]="true"
        />
        <input
          id="D_GRP_ALM"
          type="text"
          pInputText
          style="width: 70%"
          [(ngModel)]="results.parametro.D_GRP_ALM"
          [disabled]="true"
        />
      </div>
    </div>
    <div class="p-field p-grid">
      <div class="p-col-3">
        <label for="N_SECUEN_PROG_MDW" class="p-col-fixed p-d-flex p-jc-end"
          >Autorización Carga:</label
        >
      </div>
      <div class="p-col-3">
        <input
          id="N_SECUEN_PROG_MDW"
          [(ngModel)]="results.parametro.N_SECUEN_PROG_MDW"
          type="text"
          pInputText
          [disabled]="true"
        />
      </div>
    </div>
  </div>
</p-toolbar>

<br />

<app-basic-table
  [autoLayout]="true"
  [loading]="loading"
  [resizable]="true"
  [cols]="cols"
  [rows]="rows"
  [title]="title"
  [paginator]="false"
  [pag]="results.parametro.PAG"
>
  <button
    pButton
    type="button"
    label="Siguiente"
    [disabled]="nextPageFlag()"
    (click)="nextPage()"
  ></button>
</app-basic-table>

<p-toolbar>
  <div style="text-align: right; width: 100%">
    <button pButton type="button" label="Volver" (click)="back()"></button>
  </div>
</p-toolbar>

<app-transaction-info
  [W_PROG]="results.parametro.W_PROG"
  [W_COMANDO]="results.parametro.PAR_COMANDO"
  [W_IDEN]="results.parametro.PAR_IDEN"
  [W_TIPO_MENSA]="results.parametro.W_TIPO_MENSA"
  [W_MENSA]="results.parametro.W_MENSA"
></app-transaction-info>

<app-toast></app-toast>
